@import "tailwindcss";
@layer base {
  :root {
    /* ... variable bawaan shadcn biarin aja ... */
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    /* ... dst ... */
  }

  .dark {
    /* ... variable dark mode shadcn ... */
  }
}



/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #000; 
}
::-webkit-scrollbar-thumb {
  background: #27272a; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f3f46; 
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@theme inline {
  --animate-cell-ripple: cell-ripple var(--duration, 200ms) ease-out none 1
  var(--delay, 0ms);

  @keyframes cell-ripple {
    0% {
      opacity: 0.4;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 0.4;
    }
  }
}

